@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/reset.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
} */

.container {
    @apply w-11/12 md:w-10/12 mx-auto;
}

.main-theme {
    background-color: #881337 !important;
}

.transparent-white {
    background: white;
    color: black;
    mix-blend-mode: screen;
}

section {
    /* @apply mb-4 sm:mb-20 md:mb-20 lg:mb-20 2xl:mb-72; */
}

.no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.striped-background {
    background: repeating-linear-gradient(
        -45deg,
        white,
        white 1000px,
        #f4f4f5 1000px,
        #f4f4f5 1500px
    );
}
